.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** 
##########################
* BALLOT / RESULT
##########################
*/

.ballot-card {
  user-select: none
}.ballot-card.has-voted {
  user-select: all;
}

.ballot-card,
.result-card {
  width: 24rem;
  margin: 0 2rem 0 2rem;
}.ballot-card.user-vote,
.result-card.user-vote {
  border: 4px solid green;
}

.has-voted {
  pointer-events: none;
  cursor: not-allowed;  
}

div.result-hide {
  color: transparent;
  text-shadow: 0 0 8px #000;
}
.ballot-row,
.result-row {
  display: inline-flex;
}

.ballot-or,
.result-or {
  width: 3rem;
  vertical-align: baseline;
}

/** 
##########################
* LEADERBOARD 
##########################
*/
.leaderboard-entry {
  width: 24rem;
  margin: 0 0 2rem 0;
  display: inline-block;
}

/** 
##########################
* NEW QUESTION 
##########################
*/
.poll-option {
  display: inline-flex;
  width: 24rem;
}

button.poll-submit {
  display: inline-flex;
}

/** 
##########################
* POLL DETAILS 
##########################
*/
.poll-header {
  padding: 2rem;
}

/** 
##########################
* POLLING BOOTH
##########################
*/
.poll-teaser {
  pointer-events: none;
}